<!--<div *ngFor="let c of colors | async" (dragStart)="startColorDrag($event)" (dragEnd)="endColorDrag()" makeDraggable [makeDraggable]="c"
    class="colorPick" id="{{ c.$key }}">
    <div>
        <label>{{ showHex ? c.hex : c.rgb.slice(3) }}</label>
        <div class="colorCircle" [style.background-color]="c.hex" (click)="pickColor(c)"></div>
    </div>
</div>-->


<label>{{ showHex ? color.hex : color.rgb.slice(3) }}</label>
<div class="colorCircle" [style.background-color]="color.hex" (click)="click()" [@jiggleState]="jiggleState">
    <i *ngIf="deleteOn && deleteable" class="fa fa-minus-square fa-2x"></i>
</div>