<!--<div *ngFor="let c of colors | async" (dragStart)="startColorDrag($event)" (dragEnd)="endColorDrag()" makeDraggable [makeDraggable]="c"
    class="colorPick" id="{{ c.$key }}">
    <div>
        <label>{{ showHex ? c.hex : c.rgb.slice(3) }}</label>
        <div class="colorCircle" [style.background-color]="c.hex" (click)="pickColor(c)"></div>
    </div>
</div>-->

<div [@growIn]="growIn">
    <label *ngIf="!inPalette">{{ showHex ? color.hex : color.rgb.slice(3) }}</label>
    <div class="colorCircle" [style.background-color]="color.hex" [class.paletteColor]="inPalette" (click)="click()" [@jiggleState]="jiggleState">
        <i *ngIf="deleteOn && deleteable" class="fa fa-minus-square" [class.fa-2x]="!inPalette"></i>
        <i *ngIf="addToPalette" class="fa fa-plus-square fa-2x"></i>
        <!--<pre>{{ color | json }}</pre>-->
    </div>
</div>