
.colorCircle {
    border-radius: 5%;
    height: 100px;
    width: 100px;
}

/*@media only screen and (min-device-width: 412px) {
    .colorCircle{
        height: 65px;
        width: 65px;
    }
}*/

@media screen and ( max-width : 568px ) {
    label {
        font-size: .75em;
    }
    .colorCircle{
        height: 50px;
        width: 50px;
    }
}