<div style="margin: auto;">
  <div class="row" id="poolContainer">
    <div class="col-sm-2" style="margin-top: 67px;">
      <button (click)="toggleAvg()" class="btn" [class.btn-primary]="!averageOn" [class.btn-success]="averageOn">Mix (avg)</button>
      <button (click)="toggleAdd()" class="btn" [class.btn-primary]="!addOn" [class.btn-success]="addOn">Combine (add)</button>
      <button (click)="toggleMinus()" class="btn" [class.btn-primary]="!minusOn" [class.btn-success]="minusOn">Subtract (minus)</button>
      <button (click)="resetPool()" class="btn btn-primary">Reset Pool</button>
      <button (click)="clearColors()" class="btn btn-primary">Clear Colors</button>
      <button (click)="toggleHex()" class="btn btn-info">Toggle {{ showHex ? 'RGB' : 'Hex' }}</button>
    </div>
    <div class="col-sm-8">
      <div class="row" id="colorPoolContainer" style="text-align: center;">
        <div class="row" id="undoRow">
          <div class="row">
            <label style="margin-right: 130px;">{{ historyIndex == 0 ? '' : historyIndex }}</label>
            <label style="margin-left: 130px;">{{ colorPoolHistory.length == 1 ? '' : colorPoolHistory.length - 1 }}</label>
          </div>
          <div class="row">
            <i (click)="undo()" style="margin-right: 130px;" class="fa fa-undo"></i>
            <i (click)="redo()" style="margin-left: 130px;" class="fa fa-repeat"></i>
          </div>
        </div>
        <div id="colorPool">
          <!--makeDroppable (dragEnter)="enterPool($event)" (dragLeave)="leavePool($event)"-->
          <div id="colorPoolLeft" (click)="saveColor('left')"></div>
          <!-- TODO: [class.pointerEventsDisabled]="draggingColor"-->
          <div id="colorPoolRight" (click)="saveColor('right')"></div>
          <!-- TODO: [class.pointerEventsDisabled]="draggingColor"-->
        </div>
        <!--{{ showHex ? poolColor.hex : poolColor.rgb.slice(3) }}-->
      </div>
      <div class="row colorPicksContainer">
        <div class="row">
          <div class="row"><h3>MIX US:</h3></div>
          <div class="row">
            <color-circle *ngFor="let color of coreColors" [color]="color" [sizeMultiplier]="1.2" [id]="'core-' + color.hex" (clicked)="pickColor($event)"></color-circle>
          </div>
        </div>
        <div class="row">
          <div class="row"><h3>YOUR COLORS:</h3></div>
          <div class="row">
            <color-circle *ngFor="let color of colors | async" [color]="color" [id]="color.$key" (clicked)="pickColor($event)"></color-circle>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>