/*.colorPick{
    display: inline-block;
    margin: 8px;
}*/
color-circle{
    display: inline-block;
    margin: 8px;
}


/*#poolContainer {
  width: 60vw;
}*/
.mixer-ui-item{
  display: block;
  position: relative;
}
/*.mixer-ui-button {
  margin: 15px auto;
}*/

.mixer-ui-set {
    position: absolute;
    /*border: 1px solid #008080;*/
    background-color: #444;
    padding: 15px;
}
.mixer-ui-set > button{
    margin: 15px auto;
}
.mixer-ui-set > span {
    text-align: center;
}
.mixer-ui-left {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.mixer-ui-right {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.colorPicksContainer{
    text-align: center;
    display: initial;
    /*padding: 0 25%;*/
}

#mixer-area {
    max-width: 75vw;
    margin: auto;
}

#coreColors {
    margin: auto;
    /*background-color: #7f7f7f;*/
    border-radius: 20px;
    max-width: 75vw;
    width: 595px;
}

#generatedColors {
    max-width: 70vw;
    margin: auto;
    max-height: calc(100vh - 530px);
    margin-top: 30px;
    background-color: #111;
    border-radius: 15px;
    position: relative;
    display: flex;
}

.fa-undo, .fa-repeat {
    font-size: 2em;
    padding: 0px 160px 30px;
}

#colorPoolContainer{
    padding: 0px 0px 10px;
    margin-top: -25px;
    text-align: center;
}

#colorPool{
    height: 250px;
    width: 60vw;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    /*border: white solid 9px;*/
}
#colorPoolLeft{
    /*background-color: green;*/
    height: 100%;
    width: 50%;
    /*border-radius: 20% 0 0 20%;*/
    float: left;
    /*pointer-events: none;*/
}
.colorLabel {
    background: #333;
    padding: 2%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
#colorPoolRight{
    /*background-color: red;*/
    height: 100%;
    width: 50%;
    /*border-radius: 0 20% 20% 0;*/
    float: right;
    /*pointer-events: none;*/
}
.pointerEventsDisabled{
    pointer-events: none;
}

#undoRow{
    margin: 25px 0 -10px 0;
}

#undoRow > .row > .fa-undo{
    margin-right: 130px;
}
#undoRow > .row > .fa-repeat{
    margin-left: 130px;
}

/* Mixer Side UI Buttons*/
#mixerSettings{
    top: 73px;
}
#rgbHex {
    top: 373px;
}
#clearColors{
    top: 600px;
}
#resetPool{
    top: 135px;
}
#delete{
    top: 600px;
}
.side-button {
    margin-top: 15px;
}

/* ============== MEDIA QUERIES ===================== */



/* ============== MEDIA QUERIES: iPhone5+ Portrait ============== */
@media screen and ( max-width : 568px ) {
    
    i.fa.fa-undo, i.fa.fa-repeat {
        font-size: 1.5em;
        padding: 1em .2em;
    }

    #undoRow {
        margin-top: 15px;
    }

    #undoRow > .row > .fa-undo{
        margin-right: 80px;
    }
    #undoRow > .row > .fa-repeat{
        margin-left: 80px;
    }

    #colorPoolContainer {
        padding: 0px 0px 0px;
    }

    color-circle {
        margin: 6px;
    }

    #generatedColors { 
        max-width: 65vw;   
        max-height: calc(100vh - 320px);
        margin-top: 15px;
        border-radius: 10px;
    }
    .mixer-ui-set {
        padding: .7em;
    }
    .mixer-ui-set > button{
        margin: .7em auto;
    }
    .mixer-ui-set > .btn-circle {
        width: 30px;
        height: 30px;
    }
    .btn-circle {
        font-size: .75em;
    }
    .mixer-ui-left {
        border-radius: 0 .5em .5em 0;
    }

    .mixer-ui-right {
        border-radius: .5em 0 0 .5em;
    }
    #colorPool{
        height: 130px;
        width: 60vw;
        margin: 0 auto;
        border-radius: 25px;
    }
    #mixerSettings{
        top: 70px;
    }
    #rgbHex {
        top: 250px;
    }
    #clearColors{
        top: 380px;
    }
    #resetPool{
        top: 70px;
    }
    #delete{
        top: 380px;
    }
    .side-button {
        margin-top: 15px;
    }
}