color-circle{
    display: inline-block;
    margin: 8px;
}

.mixer-ui-item{
  display: block;
  position: relative;
}

.mixer-ui-set {
    position: absolute;
    /*border: 1px solid #008080;*/
    background-color: #444;
    padding: 15px;
}
.mixer-ui-set > button{
    margin: 15px auto;
}
.mixer-ui-set > span {
    text-align: center;
}
.mixer-ui-left {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.mixer-ui-right {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.colorPicksContainer{
    text-align: center;
    display: initial;
    /*padding: 0 25%;*/
}

#mixer-area {
    max-width: 75vw;
    margin: auto;
}

#coreColors {
    margin: auto;
    /*background-color: #7f7f7f;*/
    border-radius: 20px;
    max-width: 75vw;
    width: 595px;
}

#generatedColors {
    max-width: 70vw;
    margin: auto;
    max-height: calc(100vh - 530px);
    margin-top: 30px;
    background-color: #111;
    border-radius: 15px;
    position: relative;
    display: flex;
}

.fa-undo, .fa-repeat {
    font-size: 2em;
    padding: 0px 15vw 30px;
}

#colorPoolContainer{
    padding: 0px 0px 10px;
    margin-top: -25px;
    text-align: center;
}

#colorPool{
    height: 250px;
    width: 60vw;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    /*border: white solid 9px;*/
}
/*Lots of duplicated code here...*/
.poolColor{
    height: 100%;
    width: 50%;
    display: inline-block
}
.leftColor{
    float: left;
}
.rightColor{
    float: right;
}


.colorLabel {
    background: #333;
    padding: 2%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
/*.pointerEventsDisabled{
    pointer-events: none;
}*/

#undoRow{
    margin: 45px 0 -10px 0;
}

#undoRow > .row > .fa-undo{
    margin-right: 130px;
}
#undoRow > .row > .fa-repeat{
    margin-left: 130px;
}

/* Mixer Side UI Buttons*/
#mixerSettings{
    top: 73px;
}
#rgbHex {
    top: 373px;
}
#clearColors{
    top: 600px;
}
#resetPool{
    top: 135px;
}
#delete{
    top: 600px;
}
.side-button {
    margin-top: 15px;
}



/* ============== MEDIA QUERIES: TABLET CSS ============== */
@media only screen and (max-width: 900px) {
    i.fa.fa-undo, i.fa.fa-repeat {        
        padding: .8em 15vw;
    }

    #coreColors {
        max-width: 400px;
    }

    #generatedColors{
        max-height: calc(100vh - 680px);
    }

    #mixerSettings{
        top: 92px;
    }
    #rgbHex {
        top: 390px;
    }
    #clearColors{
        top: 700px;
    }
    #resetPool{
        top: 92px;
    }
    #delete{
        top: 700px;
    }
    .side-button {
        margin-top: 15px;
    }
}

/* ============== MEDIA QUERIES: iPhone5+ Portrait ============== */
@media screen and ( max-width : 550px ) {
    
    i.fa.fa-undo, i.fa.fa-repeat {
        font-size: 1.5em;
        padding: 1em 15vw;
    }

    #undoRow {
        margin-top: 15px;
    }

/*    #undoRow > .row > .fa-undo{
        margin-right: 80px;
    }
    #undoRow > .row > .fa-repeat{
        margin-left: 80px;
    }*/
    #coreColors {
        max-width: 220px;
    }

    #colorPoolContainer {
        padding: 0px 0px 0px;
    }

    color-circle {
        margin: 6px;
    }

    #generatedColors { 
        max-width: 65vw;   
        max-height: calc(100vh - 380px);
        margin-top: 15px;
        border-radius: 10px;
    }
    .mixer-ui-set {
        padding: .7em;
    }
    .mixer-ui-set > button{
        margin: .7em auto;
    }
    .mixer-ui-set > .btn-circle {
        width: 30px;
        height: 30px;
    }
    .btn-circle {
        font-size: .75em;
    }
    .mixer-ui-left {
        border-radius: 0 .5em .5em 0;
    }

    .mixer-ui-right {
        border-radius: .5em 0 0 .5em;
    }
    #colorPool{
        height: 130px;
        width: 60vw;
        margin: 0 auto;
        border-radius: 25px;
    }
    #mixerSettings{
        top: 60px;
    }
    #rgbHex {
        top: 218px;
    }
    #clearColors{
        top: 376px;
    }
    #resetPool{
        top: 60px;
    }
    #delete{
        top: 376px;
    }
    .side-button {
        margin-top: 15px;
    }
}


/* ============== MEDIA QUERIES: iphone ============== */
@media screen and ( max-width : 330px ) {
/*     i.fa.fa-undo, i.fa.fa-repeat {
        font-size: 2em;
        padding: 1em .2em;
    }*/

    #coreColors {
        max-width: 210px;
    }

    #colorPool {
        height: 110px;
    }

/*    #mixerSettings{
        top: 92px;
    }
    #rgbHex {
        top: 380px;
    }
    #clearColors{
        top: 664px;
    }
    #resetPool{
        top: 92px;
    }
    #delete{
        top: 664px;
    }
    .side-button {
        margin-top: 15px;
    }*/
}