/*.colorPick{
    display: inline-block;
    margin: 8px;
}*/
color-circle{
    display: inline-block;
    margin: 8px;
}

/*#poolContainer {
  width: 60vw;
}*/
.mixer-ui-item{
  display: block;
  position: relative;
}
/*.mixer-ui-button {
  margin: 15px auto;
}*/

.mixer-ui-set {
    position: absolute;
    /*border: 1px solid #008080;*/
    background-color: #384048;
    padding: 15px;
}
.mixer-ui-set > button{
    margin: 15px auto;
}
.mixer-ui-set > span {
    text-align: center;
}
.mixer-ui-left {
  left: 0;
  border-radius: 0 10% 10% 0;
}

.mixer-ui-right {
  right: 0;
  border-radius: 10% 0 0 10%;
}

.colorPicksContainer{
    text-align: center;
    display: initial;
    /*padding: 0 25%;*/
}

#mixer-area {
    max-width: 75vw;
    margin: auto;
}

#generatedColors {
    max-width: 70vw;
    margin: auto;
/*    padding: 0 70px;
    box-sizing: content-box;*/
}

#generatedCircles {
    overflow-y: scroll;
    max-height: 27vh;
    margin-top: 30px;
}

.fa-undo, .fa-repeat {
    font-size: 2em;
    padding: 0px 160px 30px;
}

#colorPoolContainer{
    padding: 0px 0px 10px;
    margin-top: -25px;
    text-align: center;
}

#colorPool{
    height: 250px;
    width: 60vw;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    /*border: white solid 9px;*/
}
#colorPoolLeft{
    /*background-color: green;*/
    height: 100%;
    width: 50%;
    /*border-radius: 20% 0 0 20%;*/
    float: left;
    /*pointer-events: none;*/
}
.colorLabel {
    background: #333;
    padding: 2%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
#colorPoolRight{
    /*background-color: red;*/
    height: 100%;
    width: 50%;
    /*border-radius: 0 20% 20% 0;*/
    float: right;
    /*pointer-events: none;*/
}
.pointerEventsDisabled{
    pointer-events: none;
}

#undoRow{
    margin: 25px 0 -10px 0;
}

/* Left Side Ui*/
#mixerSettings{
    top: 75px;
}
#clearColors{
    top: 600px;
}
#resetPool{
    top: 155px;
}
#delete{
    top: 600px;
}
.side-button {
    margin-top: 15px;
}

