<div id="mixerSettings" class="mixer-ui-set mixer-ui-left">
  <span class="mixer-ui-item"></span>
  <button (click)="toggleAvg()" class="mixer-ui-item  btn btn-circle" [class.btn-success]="averageOn">
          AVG
        </button>
  <button (click)="toggleAdd()" class="mixer-ui-item  btn btn-default btn-circle" [class.btn-success]="addOn"><i class="fa fa-plus"></i></button>
  <button (click)="toggleMinus()" class="mixer-ui-item  btn btn-default btn-circle" [class.btn-success]="minusOn"><i class="fa fa-minus"></i></button>
</div>
<div class="mixer-ui-set mixer-ui-left" id="rgbHex">
  <button (click)="toggleHex()" class="mixer-ui-item  btn btn-primary btn-circle">{{ showHex ? 'RGB' : 'HEX' }}</button>
</div>
<div id="clearColors" class="mixer-ui-set mixer-ui-left">
  <span class="mixer-ui-item"></span>
  <button (click)="clearColors()" class="mixer-ui-item  btn btn-circle btn-danger">
          <i class="fa fa-trash"></i>
        </button>
</div>
<div id="mixer-area" [class.mixer-squished]="paletteOpen" [class.mixer-full]="!paletteOpen">
  <div id="colorPoolContainer">
    <div class="row" id="undoRow">
      <i (click)="undo()" class="fa fa-undo" [class.fa-squished]="paletteOpen"></i>
      <i (click)="redo()" class="fa fa-repeat" [class.fa-squished]="paletteOpen"></i>
    </div>
    <div id="colorPool" [class.pool-squished]="paletteOpen" [class.pool-full]="!paletteOpen">
      <div id="colorPoolLast" class="leftColor poolColor" [@lastShiftState]="shiftState">
        <span class="colorLabel">{{ showHex ? poolColor?.hex : poolColor?.rgb.slice(3) }}</span>
      </div>
      <div id="colorPoolLeft" class="leftColor poolColor" (click)="saveColor('left')" [@leftShiftState]="shiftState">
        <span *ngIf="lastColor" class="colorLabel">{{ showHex ? lastColor?.hex : lastColor?.rgb.slice(3) }}</span>
      </div>
      <div id="colorPoolNext" class="rightColor poolColor" [@nextShiftState]="shiftState">
        <span class="colorLabel">{{ showHex ? poolColor?.hex : poolColor?.rgb.slice(3) }}</span>
      </div>
      <div id="colorPoolRight" class="rightColor poolColor" (click)="saveColor('right')" [@rightShiftState]="shiftState">
        <span class="colorLabel">{{ showHex ? poolColor?.hex : poolColor?.rgb.slice(3) }}</span>
      </div>
    </div>
  </div>
  <div class="colorPicksContainer">
    <div id="coreColors" [class.core-colors-squished]="paletteOpen" [class.core-colors-full]="!paletteOpen">
      <color-circle *ngFor="let color of coreColors" [deleteable]="false" [showHex]="showHex" [color]="color" [id]="'core-' + color.hex"
        (clicked)="pickColor($event)"></color-circle>
    </div>
    <div *ngIf="paletteColors" id="paletteColors">
      <color-circle *ngFor="let color of paletteColors" [deleteable]="false" [showHex]="showHex" [color]="color" [id]="'palette-' + color.hex"
        (clicked)="pickColor($event)"></color-circle>
    </div>
    <perfect-scrollbar id="generatedColors" [class.compressed-for-palette]="paletteColors" [class.generated-colors-squished]="paletteOpen">
      <color-circle *ngFor="let color of colors | reverse" [showHex]="showHex" [color]="color" [newestColorKey]="newestColor?.$key"
        [id]="color.$key" (clicked)="pickColor($event)"></color-circle>
    </perfect-scrollbar>
  </div>
</div>
<div id="resetPool" class="mixer-ui-set mixer-ui-right" [class.ui-right-with-palette]="paletteOpen">
  <span class="mixer-ui-item"></span>
  <button (click)="resetPool()" class="mixer-ui-item  btn btn-circle btn-info">
    <i class="fa fa-refresh"></i>
  </button>
</div>
<div id="delete" class="mixer-ui-set mixer-ui-right" [class.ui-right-with-palette]="paletteOpen">
  <span class="mixer-ui-item"></span>
  <button (click)="toggleDelete()" class="mixer-ui-item  btn btn-circle btn-warning">
    <i class="fa fa-minus-square"></i>
  </button>
</div>
<div id="paletteToggle" class="mixer-ui-set mixer-ui-right" [class.ui-right-with-palette]="paletteOpen">
  <span class="mixer-ui-item"></span>
  <button (click)="togglePalette()" class="mixer-ui-item btn btn-circle btn-success">
    <i class="fa fa-th-list"></i>
  </button>
</div>