/* You can add global styles to this file, and also import other style files */
body {
    background-color: #706e70;
    color: #fff;
    margin: 15px;
}

.mixer-column {
    float: left;
    position: aboslute;
    min-height: 75vh;
    border: 1px solid #406060
}

.side-ui {
  min-width: 175px;
}

.side-button {
  display: block;
  position: relative;
}
.side-ui-set {
  position: absolute;
  border: 1px solid white;
}


/*BOOTSTRAP SNIPPETS:*/
/*Circle Buttons*/
.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}