/* You can add global styles to this file, and also import other style files */
body {
    background-color: #333;
    color: #ccc;
    /*margin: 15px;*/
}

html {
    height: 100%;
}
/*mixer {
  max-width: 75vw;
}*/

/* Bootstrap btn color changes */
.btn-danger {
    background: #b41010;
    border-color: #b41010;
} 

.btn-warning {
    background: #FFC000;
    border-color: #FFC000;
}

.btn-info {
    background: #777;
    border-color: #777;
}

.btn-info:active {
    background: #444;
    border-color: #444;
}

.btn-primary {
    background: #3870C8;
    border-color: #3870C8;
}

.btn-success {
    background: #89BA1E;
    border-color: #89BA1E;
}

/*BOOTSTRAP SNIPPETS:*/
/*Circle Buttons*/
.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

